@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

header{
  height: 75px;
  width: 100%;
  display: inline-block;
}

nav{
  height: 100%;
  width: 100%;
}

.logo{
  float: left;
}

.logo img{
  width: 75px;
  height: 75px;
  margin-left: 50px;
}

#search{
  float: left;
  margin-left: 20%;
  margin-top: 20px;
  height: 28px;
  width: 40%;
  text-indent: 10px;
}

#search-button{  
  height: 32px;
  width: 65px;
  margin-top: 20px;
}

#icon-container{
  float: right;
  margin-right: 30px;
  margin-top: 5px;
}

#icon-container li{
  list-style: none;
  float: left;
  margin: 20px;
}

#icon-container li a img{
  width: 17px;
  height: 17px;
}

.main-container {
  background-color: #F9F9F9;
  height: 100%;  
}

iframe {
  margin-left: 70px;
  margin-top: 25px;
}

.view {  
  margin-left: 70px;
  margin-top: 15px;
  font-size: 17px;  
  width: 20%;
  float: left;
}

h3 {
  font-weight: 200;
  cursor: pointer;
}

p {
  font-size: 15px;
  padding-top: 11px;
}

.video-container {
  width: 70%;
}

.video-info {
  float: left;
  margin-left: 18%;
  margin-top: 35px;
}

.video-info span{
  position: relative;
  top: -5px;
  margin: 0 25px 0 5px;
  font-size: 14px;
}

.video-info img, .video-info span{
  cursor: pointer;
}

.uploader {
  width: 65%;
  border-top: 1px solid grey;
  margin-left: 70px;
}

.clearfix {
  float: none;
}

#molly {
  position: relative;
  top: -20px;
  margin-left: 10px;
  font-size: 14px;
}

#subscribe {
  float: right;
  background-color:#CC0000;
  padding: 10px 15px; 
  color: white;
  border: none;
  cursor: pointer;
}

#avatar, #molly, #subscribe {
  margin-top: 20px;
}

.sidebar{
  float: right;
  position: relative;
  width: 30%;
  top: 25px;
}

.sidebar .recommend{
  margin-left: 30px;
  position: relative;
}

.sidebar .recommend span{
  position: absolute;
  top: 12px;
  font-size: 14px;
  margin-left: 10px;
}

.sidebar .up-next span{
  top: 35px;
}

.sidebar .recommend span a{
  text-decoration: none;
  color: black;
}

.sidebar .up-next img{
  margin-top: 15px;
  margin-bottom: 10px;
}

.sidebar .recommend img{
  margin-top: 10px;
}

.sidebar .recommend .video-view{
  position: absolute;
  top: 58px;
  font-size: 13px;
}

.sidebar .up-next .video-view{
  top: 78px;
}
